<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="su.comp.bk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="su.comp.bk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:label="@string/app_name" android:name=".ui.BkEmuActivity"
                android:windowSoftInputMode="adjustResize"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.bin"/>
                <data android:pathPattern="*\\..*\\.bin"/>
                <data android:pathPattern=".*\\..*\\..*\\.bin"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.bin"/>
                <data android:pathPattern=".*\\.BIN"/>
                <data android:pathPattern="*\\..*\\.BIN"/>
                <data android:pathPattern=".*\\..*\\..*\\.BIN"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.BIN"/>
                <data android:pathPattern=".*\\.img"/>
                <data android:pathPattern="*\\..*\\.img"/>
                <data android:pathPattern=".*\\..*\\..*\\.img"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.img"/>
                <data android:pathPattern=".*\\.IMG" />
                <data android:pathPattern=".*\\..*\\.IMG" />
                <data android:pathPattern=".*\\..*\\..*\\.IMG" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.IMG" />
                <data android:pathPattern=".*\\.bkd"/>
                <data android:pathPattern="*\\..*\\.bkd"/>
                <data android:pathPattern=".*\\..*\\..*\\.bkd"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.bkd"/>
                <data android:pathPattern=".*\\.BKD"/>
                <data android:pathPattern="*\\..*\\.BKD"/>
                <data android:pathPattern=".*\\..*\\..*\\.BKD"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.BKD"/>
                <data android:pathPattern=".*\\.hdi"/>
                <data android:pathPattern="*\\..*\\.hdi"/>
                <data android:pathPattern=".*\\..*\\..*\\.hdi"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.hdi"/>
                <data android:pathPattern=".*\\.HDI"/>
                <data android:pathPattern="*\\..*\\.HDI"/>
                <data android:pathPattern=".*\\..*\\..*\\.HDI"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.HDI"/>
            </intent-filter>
        </activity>
    </application>
</manifest>