<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="su.comp.bk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".ui.BkEmuActivity"
                android:configChanges="orientation|keyboardHidden"
                android:windowSoftInputMode="adjustResize"
                android:launchMode= "singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.bin"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.BIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.img"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.IMG"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.bkd"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.BKD"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/fd_label" android:name=".ui.BkEmuFileDialog"/>
    </application>
</manifest>